@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font-family: 'Press Start 2P', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --text-color: white;
  --title-color: rgb(248, 251, 156);
  --page-color: rgb(31, 99, 176);

  --card-color: rgb(52, 110, 176);
  --highlighted-card-color: rgb(90, 136, 189);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--page-color);
}

.pageTitle {
  color: var(--title-color);
  text-align: center;
  font-size: 4rem;
}

.pokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: var(--text-color);
  background-color: var(--card-color);
  border-radius: 20px;
  min-width: 10%;
  transition: all ease-in-out 0.2s;
  padding: 10px;
  border: solid 1px var(--title-color);
  cursor: pointer;
}

.pokemonCard:hover {
  background-color: var(--highlighted-card-color);
  border: solid 2.5px var(--title-color);
  transform: scale(1.05)
}

.cardGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--title-color)
}